body {
    background-color:transparent;
  }
  
  #clock { 
    font-family: 'Orbitron', sans-serif;
    background: radial-gradient(ellipse at center,  #0a2e38  0%);
     text-shadow: 0 0 20px rgba(10, 175, 230,  1),  0 0 20px rgba(10, 175, 230, 1);
    color: #daf6ff; 
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  
