@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@100;300;400&display=swap');

*{
    margin: 0;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
body {
    width: 250px;
    height: 230px;
    text-align: center;
    background-color:transparent;       
    display :flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    overflow-y: hidden;
    margin-top: 88px;
  }
  
  div {
    display: flex;
    flex-direction: column;
    width: 250px;
    
  }
  input , button {
    margin-bottom: 10px;
    padding: 15px;
   
    border: 0;
    outline: none;
    border-radius: 6px;
  }
  button {
    background-color: #14C378;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
   
  }
  p {
    color: #999;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 10px;
  }
  
  .btn{
    animation: background 2s infinite;
    background:linear-gradient(152deg,rgb(231, 144, 144), #1DA1F2);
}
@keyframes background {
  to {
    background:linear-gradient(152deg, #1DA1F2, #c12525);
    text-shadow: 0 0.1em 0.1em #E81F1F;
  }
}
.btn:hover{
  animation: rotate 3s infinite;
}
@keyframes rotate{
     100% {
     transform: rotate(0deg)translateX(50px)scale(1);
     box-shadow: 10px 5px 5px red;
     }
  }