


body {
  
  background-image: url(''); 
  background-color: rgb(23, 133, 224);
  background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 100vh;
    background-attachment: fixed;
  
}

.container {
  margin-top: -90px;
   display: grid;
  grid-template-columns:1fr 1fr 1fr ;
  grid-template-rows: 2fr 0.5fr 2fr;
  grid-template-areas: 
  "recherche meteo todo"
  " . socialmedia todo  " 
  " . . todo";
}


.ensemble {
  /* margin-top: -90px; */
   display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "liste clock ."
 
}

.recherche{
  grid-area: recherche;
}
.socialmedia{
  grid-area: socialmedia;
  margin-top: 20vh;
  margin-left: 120px;
  
}
  .meteo{
    grid-area: meteo;
  }
  .clock{
    grid-area: clock;
  }
  .todo{
    grid-area: todo;
  }
  .liste{grid-area: liste;
  }

  
  