


body {
  margin: 0;
  padding: 0;
  background-image: url(''); 
  background-color: rgb(23, 133, 224);
  background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  
}
